:root{
    --header-height: 3rem;

    /* COLORS */
    --blue-color: hsl(243, 100%, 69%);
    --black-color: #000;
    --gray-color: rgba(143, 143, 143, 0.8);
    --white-color: #fff;

    /* SHADOW */
    --text-shadow: 0px 1.5px 4px var(--black-color);

    /* FONT */
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* FONT WEIGHT */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* MARGENES BOTTOM */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* Z-INDEX */
    --z-tooltip: 10;
    --z-fixed: 100;

    /* HOVER OVERLAY */
    --img-transition: .3s;
    --img-hidden: hidden;
    --img-scale: scale(1.1);
}

@media  screen and (min-width: 968px) {
    :root{
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smoth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--black-color);
}

h1{
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    font-family: var(--body-font);
}

ul{
    list-style: none;
    font-family: var(--body-font);
}

a{
    text-decoration: none;
}

button,
input{
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

input{
    outline: none;
}

span{
    color: var(--blue-color);
}

.container{
    max-width: 1240px;
    margin-right: var(--mb-1);
    margin-left: var(--mb-1);
}

.section{
    padding: 4.5rem 0 2.5rem;
}

.nav{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    margin: 0 auto;
}

.nav__logo{
    font-weight: var(--font-bold);
    color: var(--black-color);
    font-size: var(--biggest-font-size);
    text-shadow: var(--text-shadow);
    margin-bottom: var(--mb-1-5);
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-1);
}

.nav__link{
    display: flex;
    flex-direction: column;
    font-size: var(--h2-font-size);
    color: var(--black-color);
    font-weight: var(--font-regular);
    transition: var(--img-transition);
}

.nav__link:hover{
    color: var(--blue-color);
    transition: var(--img-transition);
}

/*======== MEDIA HEADER ==========*/
@media (min-width: 768px){
    body{
        margin: 0;
    }

    .nav{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-top: var(--mb-0-75);
        height: calc(var(--header-height) + var(--mb-1-5));
    }

    .nav__logo{
        width: 600px;
        font-size: var(--h1-font-size);
    }
    
    .nav__list{
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: var(--mb-2);
    }

    .nav__link{
        font-size: var(--h3-font-size);
        transition: var(--img-transition);
    }

    .nav__link:hover{
        color: var(--blue-color);
        transition: var(--img-transition);
    }
}

.home__container{
    text-align: center;
    font-size: var(--h1-font-size);
}

.home__data{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--mb-1-5);
}

.home__container-img{
    width: 70%;
    height: 60%;
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--mb-2);
}

.search__title{
    text-align: center;
    margin-bottom: var(--mb-2);
}

.search__box{
    display: flex;
    flex-direction: column;
}

.search__questions-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: var(--mb-2);
    margin: 0;
}

.search__questions-box{
    border: 3px solid var(--blue-color);
    border-radius: 13px;
    padding: 15px 30px;
    font-weight: var(--font-bold);
    width: 80%;
    font-size: var(--h3-font-size);
}

.search__button-submit{
    width: 50%;
    padding: 15px 30px;
    border-radius: 13px;
    background-color: var(--black-color);
    color: var(--blue-color);
    font-weight: var(--font-bold);
    font-size: var(--h3-font-size);
    text-align: center;
}

.search__button-submit:hover{
    background-color: rgb(43, 42, 42);
    transition: var(--img-transition);
}

.search__textbox{
    display: none;
}

.footer{
    background-color: var(--blue-color);
}

.footer__data{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer__h1{
    font-weight: var(--font-bold);
    font-size: var(--biggest-font-size);
    margin-top: var(--mb-1);
    margin-bottom: var(--mb-1);
    text-shadow: var(--text-shadow);
}

.footer__p{
    font-weight: var(--font-bold);
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-1);
}

.footer__a{
    font-size: var(--small-font-size);
    text-decoration: none;
    color: var(--black-color);
    font-weight: var(--font-bold);
}

.footer__a span{
    color: var(--white-color);
}

@media (min-width: 768px){

    .nav{
        margin-top: 0;
        margin-right: var(--mb-2);
        margin-left: var(--mb-2);
    }

    .nav__logo{
        margin: 0;
        text-align: start;
    }

    .home{
        top: 10rem;
    }

    .home__data{
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .home__container-img{
        width: 40%;
        height: 40%;
    }

    .search{
        top: 26rem;
    }

    .search__box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 2rem;
    }
    
    .search__questions-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: var(--mb-2);
    }

    .search__questions-box{
        width: 100%;
    }

    .search__button-submit{
        text-align: start;
        text-indent: 13px;
        cursor: pointer;
    }

    .search__button-submit:hover{
        background-color: rgb(43, 42, 42);
        transition: var(--img-transition);
    }

    .search__textbox{
        display: flex;
        align-items: center;
        padding: var(--mb-1);
        border: 2px solid var(--black-color);
        border-radius: .8rem;
        height: 250px;
        width: 50%;
    }

    .text{
        text-align: center;
        font-weight: var(--font-bold);
        font-size: var(--h3-font-size);
    }

    .footer__container{
        padding: var(--mb-3);
    }

    .footer__data{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .footer__text{
        row-gap: var(--mb-1);
    }

    .footer__h1{
        font-size: var(--h1-font-size);
    }

    .footer__text p,
    .footer__text a,
    .footer__text span{
        text-align: start;
        font-size: var(--normal-font-size);
    }
}

@media (min-width: 1024px){
    .search__textbox{
        display: flex;
        align-items: center;
        border: 3px solid var(--gray-color);
        border-radius: 8px;
        height: 260px;
        width: 40%;
    }

    .home__container{
        margin: 0 auto;
    }

    .footer__container{
        margin: 0 auto;
    }
}

@media (min-width: 1240px){
    .nav{
        margin: 0 auto;
    }
}